/* NetflixCategories/BrowserAction/AllCategories
*/

.main-pinned-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.main-pinned-item {
    display: flex;
    justify-content: space-between; /* Push category name to left and favorite button to right*/

    padding: 10px 15px;
    color: #555;
    border-top: 1px solid #ddd;
    background-color: #FFFFFF;
    text-decoration: none;
}

.main-pinned-item:hover {
    color: #555;
    cursor: pointer;
    text-decoration: none;
    background-color: #f5f5f5;
}

.pinned-item-category-name {
    /* Clip text to avoid category name overflowing to next line when name is long */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.app-nav-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.app-nav-item {
    display: flex;
    justify-content: start; /* Keep chevron-left and "Back" text to the left*/
    align-items: center; /* Vertically align chevron and "Back" text */

    padding: 10px 15px;
    color: #555;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

.app-nav-item:hover {
    background-color: #f0f0f0;
}

.btn-pin-this-item {
    /*visibility: hidden;*/
}
