body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 120%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.popup-dimensions {
    /* avoid an excessively wide status text */
    /*
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    */
    max-width: 800px;
    min-width: 300px;
    padding-bottom: 0%;
    margin-bottom: 0px;
}

.search-box {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.main-pinned-box {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.main-pinned-item {
    padding: 10px 5px 5px 10px;
    color: #555;
    border-top: 1px solid #ddd;
    background-color: #FFFFFF;
}

.main-pinned-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.app-nav-item {
    padding-bottom: 10px;
    background-color: #f5f5f5;
}

.app-nav-item:hover {
    background-color: #f0f0f0;
}

.icon-link {
    color: #555;
}
.after-header { padding:50px 0px; }

.has-feedback-left input.form-control {
    padding-left: 34px;
    padding-right: 12px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px;
}

.btn-pin-this-item {
    /*visibility: hidden;*/
}

.list-group-item:hover .btn-pin-this-item {
    visibility: visible;
}