body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 120%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.popup-dimensions {
    /* avoid an excessively wide status text */
    /*
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    */
    max-width: 800px;
    min-width: 300px;
    padding-bottom: 0%;
    margin-bottom: 0px;
}
.icon-link {
    color: #555;
}
.after-header { padding:50px 0px; }

.has-feedback-left input.form-control {
    padding-left: 34px;
    padding-right: 12px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px;
}

.btn-pin-this-item {
    visibility: hidden;
}

.list-group-item:hover .btn-pin-this-item {
    visibility: visible;
}